<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../favicon.ico">

    <title>Remservis - Main</title>

    <link href='https://fonts.googleapis.com/css?family=Rubik:400,900,700|Istok+Web&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>
    <header class = "header">
      <div class="header-top">
        <div class="container">
          <nav class="navbar-default">
            <a class="nav-item pull-left" href="#"><i class="fa fa-phone fa-lg" aria-hidden="true"></i><strong>+7 (961) 533-34-85</strong></a>
            <a class="nav-item pull-left" href="#"><span class="fui-skype"></span>ostroukhr</a>
          </nav>
        </div>
      </div>

      <div class = "header-middle">
        <div class = "container top">
          <div class ="row">
            <div class="logo col-md-3 pull-left">
              <div class="logo-wrapper">
                <strong class="logo-bg">
        					<a href="#"><img src="img/logo.png" alt="Remservis"></a>
        				</strong>
        				<p class = "logo-text pull-left">Ремонт и сервис</p>
              </div>
            </div>
            <div class="search col-md-6">
              <form class="navbar-form navbar-left" action="#" role="search">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" id="navbarInput-01" type="search" placeholder="Поиск техники и комплектующих">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                  </div>
                </div>
              </form>
          </div>
          <div class="shopping-cart col-md-3 pull-left">
            <div class="block-shopping-cart">
              <a class = "clck-shopping-cart" href="#">
                <div class="icon-shopping-cart pull-left">
                  <span class = "cart-icon-number">0</span>
                </div>
                <div class="cart-details pull-left">
                  <span class="cart-text">Сумма:</span>
                  <span class="cart-price">0.00</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class = "header-bottom">
    <div class = "container">
      <div class = "row">
        <div class = "main-menu col-md-12 pull-left">
          <nav class = "navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <a class="navbar-brand" href="#"><span class="fui-home"></span></a>
            </div>
            <div class = "collapse navbar-collapse">
              <div class = "menu-container">
                <ul class = "nav navbar-nav">
                  <li class = "navbar-element"><a href="#fakelink">Каталог</a></li>
                  <li class = "navbar-element"><a href="#fakelink">Услуги</a></li>
                  <li class = "navbar-element"><a href="#fakelink">Оплата и доставка</a></li>
                  <li class = "navbar-element"><a href="#fakelink">Контакты</a></li>
                </ul>
              </div>
            </div>

          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class ="content">
    <div class="content-sector">
      <div class="container">
        <div class="row">
          <div class="product-menu col-md-3 pull-left">
            <div class="product-block">
              <div class="product-title">
                <strong>Выбор по производителям</strong>
              </div>
              <div class="product-items pull-left">
                <ul class="product-menu-items">
                  <li class="product-menu-element"><a href="#fakelink">Toshiba (188)</a></li>
                  <li class="product-menu-element"><a href="#fakelink">Acer (11)</a></li>
                  <li class="product-menu-element"><a href="#fakelink">AEG (11)</a></li>
                  <li class="product-menu-element"><a href="#fakelink">Ardo (16)</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="jumbo col-md-6 pull-left">
            <div class="jumbo-block">
              <span class="image">
                <img src="img/image-1.png" alt="" width="585px" height="300px">
              </span>
            </div>
          </div>
          <div class="info col-md-3 pull-right">
            <div class="info-block">
              <div class ="info-title">
                <strong>Информация</strong>
              </div>
              <div class = "info-text">
                <p>Акция «К Дню Российского Триколора». Только с 01 августа по 15 сентября стань абонентом «Триколор ТВ» и выбери себе подарок в своем Личном кабинете! </p>
              </div>
            </div>
          </div>
        </div>

        <div class ="row">
          <div class="block-spareparts col-md-3 pull-right">
            <i class="fa fa-cogs"></i></li>
            <p class="icons-text">Продажа комплектующих</p>
          </div>
          <div class="block-useddetails col-md-3 pull-right">
            <i class="fa fa-refresh"></i></li>
            <p class="icons-text">Продажа Б/У техники</p>
          </div>
          <div class="block-repair col-md-3 pull-right">
            <i class="fa fa-medkit"></i></li>
            <p class="icons-text">Услуги ремонта</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h3 class="products-header"><span>Новое</span> на сайте</h2>
        <div class="products">
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          <div class="product-item col-md-3">
            <div class="product-item-block">
              <div class="product-image">
                <a class="product-image-item" href="#"><img src="img/detail.png" alt="" width="200px" height="200px"></a>
              </div>
              <div class="product-container-info">
                <div class="product-name">
                  <h6><a href="#">Intel Core i7 - 4770K OEM</a></h6>
                </div>
                <div class="product-price">
                  <p>800 руб</p>
                </div>
                <div class="product-button">
                  <button class="btn-product">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </div> <!-- /content -->

  <!-- Site footer -->
  <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="footer-links-block col-md-4 pull-left">
              <ul class="footer-links pull-left">
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Услуги</a></li>
              </ul>
              <ul class="footer-links pull-left">
                <li><a href="#">Оплата и доставка</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="footer-payment-block col-md-4 pull-left">
              <p class="footer-payment-title">Мы принимаем к оплате</p>
  						<ul class="footer-payment-list">
  							<li class="footer-payment-list-visa"></li>
  							<li class="footer-payment-list-mcard"></li>
  							<li class="footer-payment-list-sber"></li>
  							<li class="footer-payment-list-yandex"></li>
  						</ul>
            </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <p>&copy; 2016 - Remservis - Ремонт и сервис</p>
        </div>
      </div>

  </footer>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <script src="js/bootstrap.min.js"></script>
     <script src="js/flat-ui.min.js"></script>
  </body>
</html>
